# 1.bank conflict
#2.0
#l1_shared_bank_conflict
#inst_issued

#3.0
#shared_load_replay
#shared_store_replay
#inst_issued1
#inst_issued2

# 2.global load
#global load profile
#gld_inst_64bit
#gld_inst_32bit
#gld_inst_16bit

# 3.texture cache
#tex0_cache_sector_queries
#tex0_cache_sector_misses
#tex3_cache_sector_queries
#tex3_cache_sector_misses
#tex1_cache_sector_misses
#tex1_cache_sector_queries

# 4.L1 cache
#l1_global_load_hit
#l1_global_load_miss
#l1_local_load_hit
#l1_local_load_miss
